@model IEnumerable<UniversityPortal.Models.UserClubModel>

@{
    ViewData["Title"] = "Club students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center my-4">All Club Members</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserClubRegId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClubId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DesgId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserClubRegId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClubId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesgId)
                    </td>
                    <td>
                      
                        @Html.ActionLink("Remove", "RemoveStudent", new { UserClubRegId = item.UserClubRegId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
